{
    "extends": "google",

	"rules": {
		"linebreak-style": 0,
		"quotes": [
			"error",
			"double"
		],
		"require-jsdoc": ["error", {
			"require": {
				"FunctionDeclaration": false,
				"MethodDefinition": false,
				"ClassDeclaration": false,
				"ArrowFunctionExpression": false
			}
		}],
		"no-var": "off",
		"brace-style" : [
			"error",
			"stroustrup"
		]
	}
}
