{{set root="."}}
{{> header title='검색결과' cssName='pension-list'}}
	<header class="main-bar">
		<div class="main-bar-box">
			<div class="back-history">
				<i class="fa fa-angle-left"></i>
			</div>
			<div class="bar-title">순천시</div>
			<div class="region-popup"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
		</div>
	</header>
	<div class="hbps-content">
		<section class="search-filter">
			<ul>
				<li>
					<div class="filter-icon"><i class="fa fa-calendar"></i></div>
					<div class="filter-content date">04/17(월) 1박</div>
				</li>
				<li>
					<div class="filter-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					<div class="filter-content date">2명</div>
				</li>
			</ul>
		</section>
		<section class="pension-list">
			<ul>
				<li>
					<div class="pension-img-box">
						<img src="http://image.wooripension.com/pension_images/w0707029/201611993356.jpg">
					</div>
					<div class="pension-name-box">
						<div class="pension-name">순천 솔향기 펜션</div>
					</div>
				</li>
				<li>
					<div class="pension-img-box">
						<img src="http://image.wooripension.com/pension_images/w0705002/20167251651241.jpg">
					</div>
					<div class="pension-name-box">
						<div class="pension-name">
							순천만 하루애 펜션
						</div>
					</div>
				</li>
				<li>
					<div class="pension-img-box">
						<img src="http://image.wooripension.com/pension_images/w0707006/201671115932.jpg">
					</div>
					<div class="pension-name-box">
						<div class="pension-name">
							순천만 여행스케치 펜션
						</div>
					</div>
				</li>
				<li>
					<div class="pension-img-box">
						<img src="http://image.wooripension.com/pension_images/w0707001/201663164048.jpg">
					</div>
					<div class="pension-name-box">
						<div class="pension-name">
							순천만 들마루 펜션
						</div>
					</div>
				</li>
				<li>
					<div class="pension-img-box">
						<img src="http://image.wooripension.com/pension_images/w0707031/2016624141847.jpg">
					</div>
					<div class="pension-name-box">
						<div class="pension-name">
							순천만 뜰애 펜션
						</div>
					</div>
				</li>
				<li>
					<div class="pension-img-box">
						<img src="http://image.wooripension.com/pension_images/w0707032/201663172948.jpg">
					</div>
					<div class="pension-name-box">
						<div class="pension-name">
							순천 달빛사랑한옥 펜션
						</div>
					</div>
				</li>
			</ul>
		</section>
	</div>
{{> footer jsName='pension-list'}}
