{{set root="."}}
{{> header title='검색결과' cssName='pension-list'}}
<header class="main-bar-list">
	<div class="main-bar-box-list">
		<div class="list-title">
			<div class="back-history">
				<i class="fa fa-angle-left"></i>
			</div>
			<div class="bar-title"></div>
			<div class="region-popup">
				<i class="fa fa-angle-down" aria-hidden="true"></i>
			</div>
		</div>
		<section class="search-filter">
			<ul>
				<li>
					<div class="filter-icon"><i class="fa fa-calendar"></i></div>
					<div class="filter-content date">04/17(월) 1박</div>
				</li>
				<li>
					<div class="filter-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					<div class="filter-content date">2명</div>
				</li>
			</ul>
		</section>
	</div>
</header>
<div class="hbps-content">
	<section class="pension-list">
		<ul>

		</ul>
	</section>
</div>
{{> footer jsName='pension-list'}}
