{{set root='.'}}
{{> header cssName="pension-menu"}}
	<header class="main-bar">
		<div class="main-bar-box">
			<div class="back-history">
				<i class="fa fa-angle-left"></i>
			</div>
			<div class="bar-title"></div>
			<div class="like-share">
				<i class="fa fa-heart-o"></i>
				<i class="fa fa-share-alt"></i>
			</div>
		</div>
	</header>
	<div class="hbps-content">
		<section class="pension-img-box">
			<img src= "{{root}}/img/img_pension_menu.jpg">
		</section>
		<section class="menu-tab">
			<ul class="info-tabs">
				<li class="room-info active">객실 정보</li>
				<li class="pension-info">펜션 정보</li>
				<li class="location-info">위치 정보</li>
				<li class="reviews">이용 후기</li>
			</ul>
		</section>
		<section class="main-info">
			<div class="room-menu">
				<div class="special-price-text">
					<ul>
						<li class="border-red">오늘 땡처리</li>
						<li>오늘만 이용 가능한 특가 객실입니다.</li>
					</ul>
				</div>
				<ul class="room-list">

				</ul>
			</div>
			<div class="pension-menu">
				<div class="pension-info-text">
					<p>펜션정보</p>
				</div>
			</div>
			<div class="location-menu">
				<div class="location-info-text">
					<p>위치 정보</p>
				</div>
			</div>
			<div class="reviews-menu">
				<div class="reviews-write-text">
					<p>이용 후기</p>
				</div>
			</div>
		</section>
	</div>
{{> footer jsName='pension-menu'}}
