{{set root="."}}
{{> header title='검색결과' cssName='pension_list'}}
<div class="pension_search_menu_title">
	<div class="prev">
		<i class="fa fa fa-angle-left" aria-hidden="true"></i>
	</div>
	<div class="pension_region_name_wrap">
		<div class="pension_region_name">순천시</div>
	</div>
	<div class="region_popup">
		<i class="fa fa-angle-down" aria-hidden="true"></i>
	</div>
	<div class="pension_search">
		<i class="fa fa-search" aria-hidden="true"></i>
	</div>
</div>
<div class="date_user_wrap">
	<div class="calendar_wrap">
		<i class="fa fa-calendar"></i>
		<div class="chk_in_date">04/17(월) 1박</div>
	</div>
	<div class="user_wrap">
		<i class="fa fa-user" aria-hidden="true"></i>
		<div class="user">2명</div>
	</div>
</div>
<section class="pension_list">
	<ul>
		<li>
			<div class="pension_img_box">
				<img src="http://image.wooripension.com/pension_images/w0707029/201611993356.jpg">
			</div>
			<div class="pension_name_box">
				<div class="pension_name">
					순천 솔향기 펜션
				</div>
			</div>
		</li>
		<li>
			<div class="pension_img_box">
				<img src="http://image.wooripension.com/pension_images/w0705002/20167251651241.jpg">
			</div>
			<div class="pension_name_box">
				<div class="pension_name">
					순천만 하루애 펜션
				</div>
			</div>
		</li>
		<li>
			<div class="pension_img_box">
				<img src="http://image.wooripension.com/pension_images/w0707006/201671115932.jpg">
			</div>
			<div class="pension_name_box">
				<div class="pension_name">
					순천만 여행스케치 펜션
				</div>
			</div>
		</li>
		<li>
			<div class="pension_img_box">
				<img src="http://image.wooripension.com/pension_images/w0707001/201663164048.jpg">
			</div>
			<div class="pension_name_box">
				<div class="pension_name">
					순천만 들마루 펜션
				</div>
			</div>
		</li>
		<li>
			<div class="pension_img_box">
				<img src="http://image.wooripension.com/pension_images/w0707031/2016624141847.jpg">
			</div>
			<div class="pension_name_box">
				<div class="pension_name">
					순천만 뜰애 펜션
				</div>
			</div>
		</li>
		<li>
			<div class="pension_img_box">
				<img src="http://image.wooripension.com/pension_images/w0707032/201663172948.jpg">
			</div>
			<div class="pension_name_box">
				<div class="pension_name">
					순천 달빛사랑한옥 펜션
				</div>
			</div>
		</li>
	</ul>
</section>
{{> footer jsName='pension_list'}}
