{{set root="."}}
{{> header title='예약결과' cssName='reservation_result'}}
<div class="reservation_menu_title">
	<div class="go-home">
		<i class="fa fa-home"></i>
	</div>
	<div class="reservation_box">
		<div class="reservation">예약 결과</div>
	</div>
</div>
<div class="reservation_info_box">
	<div class="reservation_info">
		<div class="reservation_1">예약내역</div>
	</div>
	<div class="reser_pension_box">
		<div class="reser_pension">예약자명</div>
		<div class="reser_pension_name">노상민</div>
	</div>
	<div class="reser_room_box">
		<div class="reser_room">펜션명</div>
		<div class="reser_room_name">제주쉼127키즈펜션</div>
	</div>
	<div class="reser_pension_box">
		<div class="reser_pension">객실명</div>
		<div class="reser_pension_name">제라늄(독채)</div>
	</div>
	<div class="reser_pension_box">
		<div class="reser_pension">투숙인원</div>
		<div class="reser_pension_name">2 인</div>
	</div>
	<div class="reser_room_box">
		<div class="reser_room">객실명</div>
		<div class="reser_room_name">제라늄(독채)</div>
	</div>
</div>
{{> footer jsName='reservation_result'}}
