@import 'lib/include.all.less';
@import 'common.css';

.hp-container{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.title-row{
	width: 100%;
	position: fixed;
	background-color: white;
	height: 50px;
	z-index: 3;
}
.back-history{
	width: 13%;
}
.pension-title{
	white-space: nowrap;
	width: 70%;
	font-size: 18px;
	text-overflow: ellipsis;
}
.like-share{
	width: 16.9%;
}
.title-row>div{
	display: inline-block;
	padding: 15px 0;
	text-align: center;
}
.pension-img-box{
	width: 100%;
	position: relative;
	background-image: url("../img/pension-img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	height: 400px;
}

.title-row-review{
	width: 100%;
	position: fixed;
	background-color: white;
}
.back-history{
	width: 20%;
}
.pension-title-review{
	white-space: nowrap;
	width: 70%;
	font-size: 18px;
	text-overflow: ellipsis;
}
.title-row-review>div{
	display: inline-block;
	padding: 15px 0;
	text-align: center;
}
.question-of-review{
	width: 100%;
	padding: 10px 3%;
	position: relative;
	margin-top: 100px;
	margin-bottom: 100px;
	height: 60%;
}
.okay-or-not{
	width: 100%;
	text-align: center;
}
